/* CSS Document */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td,dl, dt, dd
{
    margin: 0;
    padding: 0;
    font-size:14px;/*浏览器默认字体是12px，12px以下不要尝试，会有浏览器兼容问题*/
    font-weight:normal;
    font-family:"Microsoft Yahei",arial;
}
ul li,ol li
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
a{text-decoration:none; color:#666; padding:0; margin:0;}
img{ display:block; border:none;}



