
.p_1{ height: 46px; font-size: 34px; line-height:46px; font-weight: bold; font-family: "华文隶书"; color: #2f0403; }
.p_2{ height: 26px; line-height: 26px; font-size: 16px; color: #ca9874; font-family: "华文楷体"}
.p_3{font-family: "华文彩云";  font-size: 16px; line-height: 18px; color: #2f0403; height: 26px; width: 22px; float: right; margin-top: 13px;}
.p_4{ height: 38px; line-height: 38px; font-weight: bold; font-size: 16px; text-align: center; font-family: "方正舒体"; color: #f8b660;}
.p_5{ font-size: 13px; line-height: 20px; display: inline-block; float: left; font-family: "黑体";}
.p_6{ font-size: 20px; line-height: 30px; color: #000; display: inline-block; font-family: "方正舒体"; font-weight: bolder;}
.p_7{ height: 27px; margin-top: 53px; font-size: 20px; font-family: "华文彩云"; float: left;}
.p_8{ margin-left: 20px; width: 430px;}
.p_9{ width: 386px; height: 72px; padding-top: 8px; }
.p_10{ width: 386px; height: 48px; padding-top: 13px; }
.p_11{ float: left; height: 44px; width: 356px; margin-top: 12px; font-size: 14px; line-height: 22px; font-family: "黑体";}
.p_12{ height: 22px; margin-top: 20px; }
.p_13{ margin-top: 26px; }
.p_14{ margin-top: 26px; margin-left: 124px;}
.p_15{height: 27px; font-size: 20px; font-family: "华文彩云"; float: left;  margin-top: 36px; margin-left: 124px;  }
.p_16{ margin-top: 25px; padding-left: 20px; }
.p_17{ margin-top: 26PX; }
.p_18{ padding-left: 13px; float: left; margin-top: 24px; }
.p_19{ margin-top: 8px; }
.p_20{ width: 456px; text-align: center; margin: 8px auto 0; }
.p_21{ margin-top: 0; }
.p_22{ height: 22px; font-size: 16px; font-family: "华文楷体"; line-height: 22px; padding-left: 8px; color: #ee7d31}
.p_23{ margin-top: 36px; }
.p_23

.p_color1{ color: #22862c; }
.p_color2{ color: #f0ff00; display: inline; }
.p_color3{ color: #4e2d1e; }
.p_color4{ color: #aedb97; }
.p_color5{ color: #22862c; }
.p_color6{ color: #abebb2; }
.float{ float: left; }


.span1{display: inline-block;}
.span2{ margin: 57px 26px 0 14px; float: left;}

